<div class="well" style="border:0px;">
  <h1>About</h1>
  <p style="margin-left:155px;margin-right:155px;">I’m a full stack developer currently specializing in Javascript, Ruby, HTML, CSS, SQL, and working in popular
    MVC frame works such as Ruby on Rails and Angular.js. I express importance in knowing and constantly sharpening
    skills in both front and back end, without favoring either, and quickly learning new technologies to fit the role
    I’m currently working in.</p>
  <h3>Contact</h3>
  <p>If you would like to get in contact with me, email me at <a href="mailto:Zagorouiko@gmail.com">Zagorouiko@gmail.com</a></p>
    <p>Feel free to checkout my <a href="https://github.com/zagorouiko">github</a>.</p>
</div>
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="jumbotron">
<h2>Reference ScoreBoard</h2>
	<div id="recommendation_form_container">
	</div>
	<% if user_signed_in? %>
		<p><%= link_to "Add recommendation", new_recommendation_path, id: "new_recommendation_link", remote: true %><p>
	<% else %>
		<h3>Please sign in to add a recommendation.</h3>
	<% end %>
		<div id="recommendations_list">
      <ul>
        <% @recommendations.each do |recommendation| %>
          <h4><div class="recom" <%= image_tag(recommendation.user.avatar) %></div><b><%= recommendation.description %></b> - <b><%= recommendation.user.username %></b></h4>
        <% end %>
      </ul>
    </div>
  </div> -->
