@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #232528;
  color: #EAF6FF;
  margin: 0;
}

section { 
  height: 100vh;
  width: 100%;
}

.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}